@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Poppins&display=swap');

#root, html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  

}
.App {
  height: 100%;
  background: url('./Image/pexels-pixabay-207983.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
p{
  color:white;
}
p span{
  color: red;
}
.heading{
  color:blue;
}
button{
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: yellow;
}
.top{
  background-color: yellow;
  padding: 10px;
}